/* Begin Body */
html, body {
  height: 100%;
  background-color: #333;
  background: url('./assets/background.png') center center fixed no-repeat;
  box-shadow: inset 0px 20px 20px rgba(1, 1, 1, .9);
}

body {
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}
/* End Body */

/* Begin Filler */
.filler .row {
  padding: 6px 0;
}

.filler hr {
  border-top: 3px solid white;
}

.filler #border-half {
  width: 300px;
  margin: 0;
}

.filler #border-full {
  width: 500px;
  margin: auto;
}

#main-text-half {
  margin-bottom: 30px;
  text-align: left;
}

#sub-text-half {
  margin-top: 30px;
  text-align: left;
}

#main-text-full {
  margin-bottom: 30px;
  text-align: center;
}

#sub-text-full {
  margin-top: 30px;
  text-align: center;
}

#discord-frame {
  width: 360px;
  height: 500px;
}

@media only screen and (max-width: 1200px) {
  #discord-frame {
    width: 300px;
  }
  .filler .row {
    padding: 0;
  }
}

@media only screen and (max-width: 992px) {
  .filler #border-half,
  .filler #border-full {
    margin: auto;
    width: 100%;
  }
  #main-text-half, #sub-text-half {
    text-align: center;
  }
  #discord-frame {
    width: 450px;
    height: 600px;
  }
}
/* End Filler */

/* Begin Footer */
.footer {
  background-color: rgb(92, 92, 92)
}

#copy-right {
  margin-bottom: 3px;
  text-align: left;
}

.footer img {
  margin-left: 15px;
  float: right;
}

@media only screen and (max-width: 992px) {
  #copy-right {
    text-align: center
  }
  .footer img {
    margin-top: 15px;
    float: unset;
  }
}
/* End Footer */

/* Begin Logo */
#facebook, #twitter, #instagram {
  width: 30px;
}

#discord, #youtube {
  width: 41px;
}
/* End Logo */
