.background {
  width: 100%;
  height: 100%;
}

#bg-img-src {
  display: absolute;
  width: 100%;
  height: auto;
}

#bg-blend {
  position: absolute;
  background-color: black;
  width: 150%;
  height: 150%;
  opacity: 0.6;
}
