.filler-kiri {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 155px 100px;
}

.filler-kanan {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
}

#discord-frame {
  width: 420px;
  height: 560px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

#main-text-center, #sub-text-center, #main-text, #sub-text {
  color: rgb(240, 240, 240);
}

#main-text {
  font-size: 3.8rem;
  margin-bottom: 40px;
}

#sub-text {
  font-size: 1.7rem;
}