.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(34, 34, 34);
}

.footer-container {
  padding: 20px 70px;
}

.footer-content {
  color: rgb(204, 204, 204);
}
